body{
    background-color: rgb(93, 89, 89);
    display: flex;
    justify-content: center;
}

.spiner{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border : 20px solid  #4B9DA9;
    border-top: 20px solid #91C6BC;
    animation-name: spinerAnimate;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    /* animation: spinerAnimate 3s steps(5,end) 0s infinite normal;  */
}

@keyframes spinerAnimate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}