body{
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(41, 39, 39);
    background-image: conic-gradient(
        from 0deg at center,
        rgb(37, 35, 35),
        rgb(59, 59, 59),
        rgb(94, 93, 93),
        rgb(108, 104, 104),
        rgb(122, 122, 122)

    );
  
}
#calculator {
        border: 1px solid rgb(148, 148, 148);
        border-radius: 10px;
        padding: 10px;
        width: 50vw;
        background-color: rgb(0, 0, 0);
        background-image: linear-gradient(
            to right,
            rgb(255 255 255 /40%),
            rgb(255 255 255/25%)30%,
            transparent
        );
      }
      #display {
        margin: 10px;
        width: 85%;
        height: 40px;
        font-size: 25px;
        background-color: rgb(23, 22, 22);
        background-image: linear-gradient(
            to right,
            rgb(255 255 255/20%),
            rgb(255 255 255/20%)30%,
            transparent
        );
        border-radius: 5px;
        color: white;
        
      }

      .button {
        width: 45px;
        height: 45px;
        margin: 3px;
        border-radius: 50%;
        box-shadow: 
        inset 2px white;
        color: white;
        background-color: rgb(0, 26, 5);
    background-image: conic-gradient(
        from 0deg at center,
        rgb(41, 52, 43),
        rgb(24, 27, 24),
        rgb(30, 41, 32),
        rgb(66, 83, 70),
        rgb(38, 46, 39)
    );
        font-weight: bold;
      }

      .button_container {
        display: flex;
        justify-content: center;

        flex-wrap: wrap;
      }

#operation{
    font-size: larger;
    color: rgb(6, 141, 35);
    background-color: rgb(0, 26, 5);
    background-image: conic-gradient(
        from 0deg at center,
        rgb(41, 52, 43),
        rgb(24, 27, 24),
        rgb(30, 41, 32),
        rgb(66, 83, 70),
        rgb(38, 46, 39)
    );
}

#equal{
    color: white;

    background-color: tomato;
    background-image: conic-gradient(
        from 0deg at center,
        rgb(160, 55, 2),
        rgb(211, 71, 1),
        rgb(173, 58, 1),
        rgb(98, 33, 0),
        rgb(159, 53, 0)
        );
}