*{
    margin: 0;
    padding: 0;
}
/*For navbar */
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:15vh;
    border:1px solid black;
}

nav img{
    display:flex;
    height:3em ;

}


nav a{
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    font-weight:bolder;

}

a sup{
    font-size: 50%;
    color:#ff3f6c; 
}


/*for main section*/



/*For footer */

/*Media querry for responsiveness */
@media screen  and (max-width:400px) and (min-width:0px) {
    nav{
        height:1.7em;
        
        
    }
    nav input{
        width: 4em;
        height: 0.3em;

    }
    nav a{
        font-size:0.18em;
        
    }
}

@media screen and (max-width:600px) and (min-width:400px){
     nav{
        height:2.5em;
        
        
    }
    nav input{
        width: 6em;
        height: 0.4em;

    }
    nav a{
        font-size:0.3em;
        
    }

}

@media screen  and (min-width:600px) and (max-width:900px){
    nav{
        height:4.5em;
        /* background-color: #ff3f6c; */
        
    }
    nav input{
        width: 8em;
        height: 0.5em;
       
    }
    
    nav a{
        font-size:0.7em;
        
    }
}
