*{
    padding: 0;
    margin: 0;
    
}
/*for container*/
body{
   
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}


.button{
    display: flex;
    background-color: #2c0daa;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    color:azure;
    
}

.buttonBack{
    position:absolute;
    z-index: -1;
    height: 50px;
    width: 150px;
    background-color:rgb(0, 0, 0);
    filter: blur(10px);
    border-bottom:10px solid black;
}