body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1{
    border-radius: 10%;
    border-bottom: 2px solid black;
    height: 100px;
    width: 200px;
    background-color: rgb(138, 138, 134);
    background-image: linear-gradient(
        to left,
        rgb(0 0 0/40%),
        rgb(0 0 0/50%)30%,
        transparent
    );

}

.container2{
    border-radius: 10% 10% 5% 5%;
    width: 200px;
    height: 400px;
    background-color:rgb(138, 138, 134) ;
    background-image: linear-gradient(
        to left,
        rgb(0 0 0/40%),
        rgb(0 0 0/50%)30%,
        transparent
    );

}

.container3{
    padding: 0;
    margin: 0;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    background-image:linear-gradient(
        to left,
         rgb(0 0 0/20%),
        rgb(0 0 0/20%) 30%,
        transparent
    );
    height:20px;
    width: 200px;
    filter: blur(10px);

}
