*{
    padding: 0;
    margin: 0;

}

body{
    background-color: black;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

.div{
    height: 100px;
    width: 200px;
    background-color: rgb(1, 213, 213);
    border-radius:20px 20px 3px 3px;
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{

    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.219);
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    position: absolute;
    height: 3%;
    width: 8%;
    background-color:red;
}