body{
    padding: 0;
    margin: 0;
    background-color: blueviolet;
    background-image:linear-gradient(
        to bottom,
        rgb(0 0 0/60%),
        rgb(0 0 0/60%)30%,
        transparent
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}

.container1{
    height: 120px;
    width: 10px;
    background-color: rgb(146, 0, 138);
    background-image:linear-gradient(
        to top,
        rgb(0 0 0/50%),
        rgb(0 0 0/50%)20%,
        transparent
        );
}

.container2{
    height: 200px;
    width: 200px;
    background-color:rgb(156, 0, 140) ;
    background-image: linear-gradient(
        to bottom,
        rgb(0 0 0/50%),
        rgb(0 0 0/40%) 20%,
        transparent
    );
}

.container3{
    height: 50px;
    width: 200px;
    background-color: blueviolet;
    margin-top:8em;
    display: flex;
    justify-content: center;
    text-size-adjust: calc(100px);
    
}