div {
  height: 200px;
  width: 200px;
  background-color:rgb(102, 0, 17); ;
}

@media(max-width : 300px) {
    div{
        background-color: greenyellow;
    }
}

@media (min-width:300px) and (max-width : 400px){
    div{
        background-color: blue;
    }
}

@media (min-width:400px) and (max-width : 600px){
    div{
        background-color: rgb(255, 1, 1);
    }
}