body{
    display:flex;
    justify-content: center;
}

.circular{
       width: 200px;
    height: 200px;
    border-radius: 50%;
    border:20px solid #8BAE66;
    border-top: 20px solid #EBD5AB;
    animation : loader 3s ease-in 0s infinite normal;
    
} 

 @keyframes loader{ /*that are a template they are not a actual animation */
    from{
        transform : rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

