*{
    padding : 0;
    margin : 0;
    font-family :'Times New Roman', Times, serif;
}

header{
    background-color: rgb(11, 0, 27);
    height: 50px;

}

a{  
    color : white;
    margin-right : 200px ;
    text-decoration : none;
    text-align : left;
}

#logo{
    color : #f08804;
    text-align : left;
}

button{
    background-color: #f08804;
    color : white;
    border : none;
    }